header{
    width: 100%;
    min-height: 100px;
    background: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1{
    color: antiquewhite;
    padding: 0.5vw;
}

header a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

header ul li{
    display: inline-block;
    padding: 7px 20px;
    opacity: 0.7;
}
header ul li:hover{
    opacity: 1;
}
